@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";




.box {
      
      background-color: #4CAF50;
      margin: 100px auto;
      animation: upDown 3s ease-in-out infinite;
    }

    @keyframes upDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    }
